{% set menu_items = get_menu_items(settings.header_main_menu) %}
{% set header_logo_src = site.theme.link ~ '/images/orbit-white.svg' %}

{% set header_logo = snippet('image', {
	src: header_logo_src,
	alt: settings.header_logo_alt_text|default(site.name),
	width: settings.header_logo_width,
	height: settings.header_logo_height,
	loading: 'eager',
	fetchPriority: 'high',
	class: 'site-header-logo'
}) %}

{% if settings.header_logo %}
	{% set header_logo = snippet('image', {
		attachment_id: settings.header_logo,
		src: header_logo_src,
		alt: settings.header_logo_alt_text|default(site.name),
		width: settings.header_logo_width,
		height: settings.header_logo_height,		
		loading: 'eager',
		fetchPriority: 'high',
		class: 'site-header-logo'
	}) %}
{% endif %}

<header style="background-color: {{ settings.header_background_color }}"	class="site-header">
	<a href="{{ site.link }}">
		{{ header_logo }}
	</a>
	<nav class="site-header-nav" aria-label="Main navigation">
		<ul class="site-header-nav-list">
			{% for item in menu_items %}
				<li class="site-header-nav-item">
					<a class="site-header-nav-link" href="{{ item.link }}">
						{{ item.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
	<button	data-event="juzt-orbit:toggle-menu"	class="mobile-menu-open"	aria-label="Open menu">
		<span class="open-icon">
			&#9776;
		</span>
	</button>
</header>

{{ snippet('mobile-menu', { menu_items: menu_items }) }}
