<div class="main-search">
    <h1 class="main-search-title">Search</h1>
    <form method="get" action="{{ site.link }}" class="main-search-form">
        <input type="text" name="s" value="{{ search_query }}" placeholder="Search..." class="main-search-input" />
        <button type="submit" class="main-search-button">Search</button>
    </form>
</div>
{% if search_query is not empty %}
<div class="main-archive">
    <div class="main-archive-header">
        <h1 class="main-archive-title">{{ term.name }}</h1>
        {% if term.description %}
            <div class="main-archive-description">
                {{ term.description }}
            </div>
        {% endif %}
    </div>
    
    <div class="main-archive-content">
        {% if posts|length > 0 %}
            <div class="main-archive-posts">
                {% for post in posts %}
                    {{ snippet('post-card', { post: post }) }}
                {% endfor %}
            </div>
            
            {{ snippet('pagination', { pagination: pagination }) }}
        {% else %}
            <p>No posts found.</p>
        {% endif %}
    </div>
</div>
{% endif %}